body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.body__alert-text {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #43a047;
}

form {
  font-family: "Roboto", sans-serif;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: #ecc1c1;
}

.header__logo {
  display: block;
  width: 100px;
  height: 100px;
}

.header__button,
.card__button {
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  padding: 15px 25px;
  border: 0;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.card__button:hover,
.header__button:hover {
  background: #43a047;
}

.visit-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}

.visit-filter__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.visit-filter__input {
  font-family: "Roboto", sans-serif;
  outline: 2px solid lightgray;
  background: white;
  /* width: 100%; */
  border: 0;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
}

.visit-filter__button,
.visit-filter__select {
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  padding: 15px 25px;
  border: 0;
  color: #ffffff;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.visit-filter__label {
  text-transform: uppercase;
  outline: 0;
  color: #4caf50;
  border: 0;
  font-size: 18px;
  transition: all 0.3s ease;
  /* cursor: pointer; */
}

.modal {
  position: fixed;
  /* padding-top: 100px; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

.modal__content {
  position: relative;
  z-index: 1;
  background: #ffffff;
  min-width: 400px;
  height: min-content;
  padding: 45px 30px 30px 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.modal__content h3 {
  margin: 20px 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #4caf50;
  font-weight: 700;
}

.modal__close-button,
.card__close-button {
  font-size: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  width: min-content;
  cursor: pointer;
}

.modal__close-button:hover,
.card__close-button:hover {
  background-color: red;
  transition: 0.5s;
  color: white;
}

.modal__content input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: lightgray;
  width: 100%;
  border: 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
}
.modal__content button {
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.modal__content button:hover,
.modal__content button:active,
.modal__content button:focus {
  background: #43a047;
}

.modal__content .message {
  margin: 15px 0 0;
  color: red;
  font-size: 12px;
  text-align: center;
  opacity: 0;
}

#login-form {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  align-items: center;
  gap: 10px;
}

#visit-form,
#edit-form {
  width: 600px;
  color: green;
  display: grid;
  grid-template-rows: repeat(auto, min-content);
  align-items: center;
  gap: 10px;
}

.visit-form__select {
  width: 100%;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  padding: 15px 25px;
  border: 0;
  color: #ffffff;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.visit-form__textarea {
  width: 100%;
  line-height: 100%;
  height: 60px;
  resize: none;
  overflow-y: auto;
  box-sizing: border-box;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  height: min-content;
}

.card__body {
  position: relative;
  z-index: 0;
  background: #ffffff;
  padding: 45px 30px 30px 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  height: min-content;
  /* -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s; */
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__title {
  margin-top: 10px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #4caf50;
  padding: 7px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  /* height: max-content; */
  height: 74px;
}

.card__content .hide-info {
  display: none;
}

.card__content .show-info {
  display: flex;
  height: auto;
}

.card__content-hide-text {
  padding: 10px;
  border: 1px solid #4caf50;
}
